h1{
    font-family: 'Fjalla One', sans-serif;
}

p{
    font-family: 'Overpass', sans-serif;
}

li{
    font-family: 'overpass', sans-serif;
}

.hero_banner{
    width:100%;
    height:30%;
    background-color: gray;
}